body {
    display: flex;
}

#total {
    width: 98%;
    max-width: 980px;
    height: auto;
    margin: auto; /* Centraliza a divisão da página*/
}

#topo {
    width: 99%;
    height: auto;
    float: left;
    background-color: cadetblue;
    border-radius: 2%;
    image-rendering: auto;
    
}

#logo {
    width: 204px;
    height: 84px;
    margin: 18px auto;
}

#menu {
    width: 100%;
    height: 40px;
    background-color: rgb(213, 155, 10);
    border-radius: 20PX;
    text-align: center;
}

#menu a{
    margin: 0px;
    text-transform: uppercase;
    text-decoration: none;
}

#menu a{
    text-decoration: underline;
}

#menu a::after {
    content: " / ";
    color:bisque;
}

#livraria {
    width: 99%;
    margin: 0px;
    margin:0.5%;
    border-radius: 1.5%;
}

#banner {
    margin: auto;
    border-radius: 15%;
}

#livros {
    color: midnightblue;
    font-family: "Asimovian", sans-serif;
    font-weight: 400;
    font-size: larger;
    font-style: normal;
 
}

#conteudo > h1 {
    color: #5BD9C7;
}

.coluna {
    font-style: oblique;
    font-family: fantasy;
}

div#anunciotablet {
    width: 100%;
    height: 30px;
    line-height: 30px;
    float: left;
    background-color: darkgray; 
    text-align: center;
    border-radius: 15%;
    font-size: 16px;
    color: black;
    display: none
}

/* Media Query*/
@media screen and (min-width:668px) and (max-width:768px) {
    div#anunciotablet {
        display: block;
    }
    
}  

article#conteudo {
    width: 60%;
    float: left;
}

aside#coluna {
    width: 35%;
    float: right;
}

footer#rodape {
    width: 100%;
    height: 30%;
    float: left;
    background-color: darkgoldenrod;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    color:darkolivegreen;
}
    
    


    
        